<h1>Contacts:</h1>

<form action="/contacts" method="POST">


<div class="form-group" >
    <label>Enter your name:</label>
    <input  name="username" type="text" class="form-control " placeholder="Введите ваше имя" >
</div>

<div class="form-group">
	<label>Type Text:</label>
	<textarea name="text"class="form-control" rows="3" placeholder="Enter text here"></textarea>

</div>

<button  type="submit" class="btn btn-primary">Add</button>

</form>